openapi: 3.1.0
info:
  title: ClinicalTrials.gov Cancer Trial Search
  version: 1.0.0
  description: >-
    Search the public ClinicalTrials.gov API v2 for candidate clinical studies.
    Results are for screening and navigation only and do not establish patient eligibility.
servers:
  - url: https://clinicaltrials.gov/api/v2
paths:
  /studies:
    get:
      operationId: searchClinicalTrials
      summary: Search ClinicalTrials.gov studies
      description: >-
        Search public trial records using cancer condition, treatment or biomarker terms,
        location, and recruitment status. Do not include direct patient identifiers in parameters.
      parameters:
        - name: query.cond
          in: query
          required: true
          description: Cancer type or condition, such as non-small cell lung cancer.
          schema:
            type: string
        - name: query.term
          in: query
          required: false
          description: Optional stage, biomarker, treatment, or other search terms.
          schema:
            type: string
        - name: query.locn
          in: query
          required: false
          description: Optional city, state or province, and country search text.
          schema:
            type: string
        - name: filter.overallStatus
          in: query
          required: false
          description: Pipe-separated overall study statuses.
          schema:
            type: string
            default: RECRUITING|NOT_YET_RECRUITING|ENROLLING_BY_INVITATION
        - name: pageSize
          in: query
          required: false
          description: Maximum records to return for this request.
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: pageToken
          in: query
          required: false
          description: Pagination token returned by a previous request.
          schema:
            type: string
        - name: format
          in: query
          required: false
          schema:
            type: string
            enum: [json]
            default: json
      responses:
        '200':
          description: ClinicalTrials.gov search response.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
